/* Normalise */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: #111;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.5;
}
input,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="submit"],
button,
textarea {
  font-size: 1em;
  font-family: sans-serif;
}
select,
option {
  font-size: 1em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
a img {
  border: none;
}
img {
  vertical-align: bottom;
}
p img {
  vertical-align: baseline;
}

/* Base Elements */
body {
  background-color: #ccc;
}

button {
  margin: 0.2em; /* for focus outline */
  padding: 0.5em;
  border: 1px solid rgb(0, 80, 255);
  border-radius: 0.5em;
  color: #fff;
  background-color: rgb(0, 160, 255);
  letter-spacing: 1pt;
  font-size: 1em;
  cursor: pointer;
}

/* Layout Styles */
.wrapper {
  width: 60em;
  margin: 0 auto;
  padding: 1em;
  background-color: #eee;
  overflow: hidden;
}
@media only screen and (min-width: 100em) {
  .wrapper {
    font-size: 1.125em;
  }
}

/* max-width = .wrapper width + padding */
@media only screen and (max-width: 62em) {
  .wrapper {
    width: auto;
    margin: 0 0;
  }
}

.wrapper--header {
  background-color: #fff;
}

/* Components */

/* State */
